<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}教师页面{/block}</title>
    <link rel="stylesheet" type="text/css" href="/mytp5/public/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#appoint').modal("hide");
        function values(ID){
            $('#act_id').val(ID);
        }
    </script>
</head>

<body class="container">
    
    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{:url('Index/index')}">网站首页</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{:url('index')}">活动管理</a></li>
                            <li><a href="{:url('Teacher/information')}">完善信息</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                           <li>
                                <a href="" data-toggle="modal" data-target="#login">
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span id="loginText/">登录</span>
                                </a>
                            </li>
                            
                            <li>
                            	<a href="" data-toggle="modal" data-target="#register">
                    			<span class="glyphicon glyphicon-user"></span>
                    			<span id="registText">注册</span>
                				</a>
                			</li>
                        </ul>
                    </div>    
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!-- 注册 -->
       	<div id="register" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-title">
                        <h1 class="text-center">注册</h1>
                    </div>
                    <div class="modal-body">
                        <form class="form-group" action="{:url('Login/register')}" method="post">
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input class="form-control" name="username" type="text" placeholder="6-15位字母或数字">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input class="form-control" name="password" type="password" placeholder="至少6位字母或数字">
                            </div>
                            <div class="form-group">
                                <label for="">再次输入密码</label>
                                <input class="form-control" name="passwd" type="password" placeholder="至少6位字母或数字">
                            </div>
                            <div class="form-group">
                                <label for="">真实姓名</label>
                                <input class="form-control" name="name" type="text" placeholder="必填">
                            </div>
                            <div class="form-group">
                                <label for="">邮箱</label>
                                <input class="form-control" name="mail" type="email" placeholder="例如:***@***.com">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit" style="background-color: #3a8cd2b3;border: 0px solid transparent;">提交</button>
                                <button class="btn btn-danger" data-dismiss="modal" style="background-color: #fb5e5999;border: 0px solid transparent;">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">
                                <font style="font-size: 13px;">已有账号？点我登录</font>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 注册 end-->
        <!-- 登录 -->
        <div id="login" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-title">
                        <h1 class="text-center">登录</h1>
                    </div>
                    <div class="modal-body">
                        <form class="form-group" action="{:url('Login/login')}" method="post">
                            <div class="form-group">
                                <label for="">用户名</label>
                                <input class="form-control" type="text" placeholder="" name="username" id="username">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input class="form-control" type="password" placeholder="" name="password" id="password">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit" style="background-color: #3a8cd2b3; border: 0px solid transparent;">登录</button>
                                <button class="btn btn-danger" data-dismiss="modal" style="background-color: #fb5e5999;border: 0px solid transparent;">取消</button>
                            </div>
                            <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">
                                <font style="font-size: 13px;">还没有账号？点我注册</font>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!-- 预约 -->
    <div id="appoint" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">预约</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group" action="{:url('appoint/appoint')}" method="post">
                        <div class="form-group">
                            <label for="">活动id</label>
                            <input class="form-control" type="text" placeholder="" name="act_id" id="act_id" value=data-act>
                        </div>
                        <div class="form-group">
                            <label for="">专业</label>
                            <input class="form-control" type="text" placeholder="" name="professional" id="professional">
                        </div>
                        <div class="form-group">
                            <label for="">班级</label>
                            <input class="form-control" type="text" placeholder="" name="stu_class" id="stu_class">
                        </div>
                        <div class="form-group">
                            <label for="">姓名</label>
                            <input class="form-control" type="text" placeholder="" name="stu_name" id="stu_name">
                        </div>
                        <div class="form-group">
                            <label for="">学号</label>
                            <input class="form-control" type="text" placeholder="" name="student_num" id="student_num">
                        </div>
                        <div class="form-group">
                            <label for="">电话号码</label>
                            <input class="form-control" type="text" placeholder="" name="phone_num" id="phone_num">
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" type="submit" style="background-color: #3a8cd2b3;border: 0px solid transparent;">提交</button>
                            <button class="btn btn-danger" data-dismiss="modal" style="background-color: #fb5e5999;border: 0px solid transparent;">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 预约 end-->

    


<!-- /增加活动信息 -->
    <div class="container1" style="padding: 0px 300px 10px 30px">
    <form class="form-horizontal" action="{:url('index/index')}">
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label inline-style font-position-right">发布人</label>
            <div class="col-sm-9 inline-style ">
                <p class="form-control">{$active->tea_name}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label inline-style font-position-right">联系方式</label>
            <div class="col-sm-9 inline-style ">
                <p class="form-control">{$teacher->phone}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label inline-style font-position-right">专业</label>
            <div class="col-sm-9 inline-style ">
                <p class="form-control">{$active->major}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">开始时间</label>
            <div class="col-sm-9 inline-style ">
                <p class="form-control">{$active->start_time}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">结束时间</label>
            <div class="col-sm-9 inline-style ">
                <p class="form-control">{$active->end_time}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label   inline-style font-position-right">活动地址</label>
            <div class="col-sm-9  inline-style">
                <p class="form-control">{$active->addr}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">限制人数</label>
            <div class="col-sm-9  inline-style">
               <p class="form-control">{$active->nums}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputUsername1" class="col-sm-2 control-label  inline-style font-position-right">预约人数</label>
            <div class="col-sm-9  inline-style">
               <p class="form-control">{$appoint}</p>
            </div>
        </div>
        
        <div class="form-group text-left">
            <div class="col-sm-offset-2 col-sm-10">               
                <button class="btn btn-sm btn-primary register-btn" type="submit">返回首页</button>
                <button class="btn btn-sm btn-primary register-btn" onclick="history.go(-1)">返回上一页</button>
            </div>
        </div>
    </form>
    </div>
</body>

</html>
